@font-face {
	font-family: 'CloisterBlack';
	src: url('CloisterBlack.ttf');
}



body{
    
    background-color: black;
    background-size: contain;
    background-position:left bottom;
    background-repeat: no-repeat;
    
    
}

.login_form{
    background-image: url('32dee6533152611f3d936238b0723244.gif');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'CloisterBlack', monospace;
    background-color: black;
    color: red;
    font-size: 200%;
}

input{
    font-size: 100%;
    border-radius: 5px;
}


fieldset{
    border: 0px solid;
}

button{
    box-shadow: 5px 5px black;
    border: 0px solid;
    border-radius: 3px;
    background-color: #fa0000;
    font-size: 100%;
}